[[source]]
#url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
torch = {version = "*", index = "https://download.pytorch.org/whl/cpu"}
torchvision = {version = "*", index = "https://download.pytorch.org/whl/cpu"}
torchaudio = {version = "*", index = "https://download.pytorch.org/whl/cpu"}
matplotlib = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.9"
